<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add user</li>
  </ol>
</nav>

<form class="row g-3" method="POST" action="/add-user">


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="First Name"  name="first_name">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Last Name" name="last_name" >
</div>



<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
  <label for="floatingInput">Email address</label>
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Phone number" name="phone" >
</div>


<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="comment"></textarea>
  <label for="floatingTextarea">Comments</label>
</div>
<div class="col-12 d-grid justify-content-center">
    <button class="btn btn-primary" type="submit">Add</button>
</div>




</form>